Source: huayra-firefox-settings
Section: utils
Priority: extra
Maintainer: Matias De lellis <mati86dl@gmail.com>
Build-Depends: debhelper (>= 8.0.0), devscripts
Standards-Version: 3.9.6
Homepage: https://github.com/HuayraLinux/huayra-firefox-settings
Vcs-Git: https://github.com/HuayraLinux/huayra-firefox-settings.git
Vcs-Browser: https://github.com/HuayraLinux/huayra-firefox-settings

Package: huayra-firefox-settings
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 coreutils (>= 8.23), curl (>= 7.38), sed (>= 4.2), dos2unix (>= 6.0),
 dpkg (>= 1.0), bzip2 (>= 1.0.6), ca-certificates
Provides: gnome-www-browser, www-browser, firefox, firefox-esr
Description: Personalizaciones para el navegador Mozilla Firefox

